
.contact-form-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:50px;
}


.contact-form-img
{
    width:378px;
    height:578px;
}

.contact-form-input
{
    font-family: 'Montserrat-SemiBold';
    font-size:100%;
    width:275px;
    height:53px;
    border-style:none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    outline: none;
}

.contact-form-input
{
  
   margin-bottom: 50px;
   
}

.contact-info
{
   
    margin-top:200px;
}

.contact-info-title
{
    font-family: 'Quicksand-Bold';
}
.contact-info-text
{
    font-family: 'Quicksand-regular';
}

#based-in
{
    margin-top:25px;
}
.contactus-title
{
    font-family: 'Quicksand-Regular';
    font-style: normal;
    font-size: 50px;
 letter-spacing: 0.2em;   
}

.contact-us-btn
{
    font-size:20px;
    letter-spacing: 0.05em;
   
    color:#ffffff;
    background-color: #3391a1;
    width:289px;
    height:56px;
    border-radius: 5px;
    border-style: none;
    cursor:pointer;
    transition: background-color 0.1s, transform 0.1s;
}


  .contact-us-btn:active
  {
    background-color: #26707d;
    transform: scale(0.97);
  }