
/* ========================HEADER START====================== */

.first-header{
  background-color: #FF6767;
  padding: 14px 0;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#select{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
.navbar {
  display: flex;
}
.navbar .list-item{
  color: #000;
  margin:0 57px;
  font-size: 16px;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.navbar .list-item:hover{
  font-weight: 800;
} 
.active{
  font-weight: 800;
}

#select option {
  background-color: none;
  color: #000;
  border: none;
}
.logo{
  color: #171717;
  font-size: 24px;
  font-style: italic;
}
.logo::after{
  content: '';
  display: block;
  margin-top: 11px;
  width: 160px;
  border-bottom: 1.5px solid #3391A1;
}
.nav-btn{
  cursor: pointer;
  font-size: 20px;
  display: none;
}
.nav-close-btn{
  position: absolute;
  right: 15px;
  top: 15px;
}
.responsive-nav{
  padding: 28px 0;
}

.mega-box{
  position: absolute;
  top: 120px;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: 30px 54px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-links-item{
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.mega-box .content{
  display: flex;
  justify-content: space-around;
}
.content .row{
  line-height: 45px;
}
.row span{
  font-weight: 600;
  font-size: 25px;
}
.row span a{
  color: #000000;
}
.dropdown-items{
  display: flex;
  cursor: pointer;
  align-items: center;
}
.products-arrow{
  margin-left: -50px;
}
.mega-dropdown:hover  .mega-box{
  top:117px;
  opacity: 0.9;
  visibility: visible;
  
}
.languages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #727272;
}
.dropdown-icon{
  margin-left: 11px;
}
.dropdown-menu label input  {
  outline: none;
  box-shadow: none;
  appearance: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 11px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-menu label {
  display: block;
  padding: 8px;
  cursor: pointer;
}
.language-icon{
  font-size: 25px;
}

.dropdown-menu label:hover {
  background-color: #f5f5f5;
}
@media only screen and (max-width:1300px){
  .navbar .list-item {
    margin: 0 20px;
  }
  .products-arrow {
    margin-left: -10px;
  }
}
@media only screen and (max-width:1000px){
  .logo{
    font-size: 18px;
  }
  .products-dropdown-icon{
    font-size: 30px;
  }
  .mega-box{
    opacity: 1;
    visibility: visible;
    position: static;
    display: none;
  }
  .mega-box.open {
    display: block;
    position: static; 
  }
  .navbar{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 157px;
    left: 0;
    min-height: 572px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px ;
    transition: 1s;
    transform: translatex(-102%);
    z-index: 111;
  }
  .responsive-nav{
    opacity: 0.9;
    transform: none;
  }
  .nav-btn{
    display: block;
  }
  .products-arrow {
    font-size: 27px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease; 
  }
  .mega-box .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .mega-dropdown:hover  .mega-box{
    visibility: visible;
    position: static;
  }
  .navbar .list-item{
    font-size: 25px;
}
}
@media only screen and (max-width:600px){
  .navbar{
    top: 111px;
  }
  .container{
    padding:0 36px;
    margin:  auto;
  }
  .dropdown-icon{
    margin-left: 4px;
  }
  .mega-box .content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .first-header{
    display: none;
  }
  .mega-box{
    padding: 18px;
  }
}
