  *

  {
    margin:0;
    padding:0;
   
  }
  .shopnow-container
  {
    position: relative;
    width:100%;
  }

  
  .shopnow-img-container
  {
    position:relative;
    
    z-index:1;
    
  }
  .shopnow-img {
    
    width: 100%; 
    height: auto; 
  }

  .shopnow-overlay-div
  {
   position: absolute;
   z-index:2;
   border-style:solid;
   border-width: 2px;
   background-color: #ffffff;
   opacity: 80%;
   width: 542px;
   height: 232px;
   border-radius: 25px;

   bottom:0;
   right:0;
   margin-right:30px;
   margin-bottom:30px;

  }

  .shopnow-separator
  {
    margin-left:20px;
    max-width:420px;
    border-style:none;
    height:1px;
    background-color: black;
  }

  .shopnow-title
  {
    font-family: 'montserrat-Regular';
    padding-left:20px;
    margin-top: 25px;
    margin-bottom:20px;
    font-size: 24px;

  }

  .shopnow-text
  {
    margin-top:20px;
    font-family: 'montserrat-Regular';
    font-size:16px;
    padding-left:20px;
    padding-top:8px;
  }

  .shopnow-btn
  {
    border-style: none;
    font-size:20px;
    color:#ffffff;
    background-color:#3391a1;
    border-top-right-radius: 25px;
    width:133px;
    height: 48px;
    margin-left:20px;
    margin-top:38px;
    font-family: 'montserrat-Regular';
    letter-spacing: 0.05em;
    

    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    
  }

  .shopnow-btn:active
  {
   
      background-color: #26707d;
      transform: scale(0.97);
    
  }

  @media (max-width: 767px) {

    .shopnow-img
    {
      max-width:100%;
      height:auto;
    }

    .shopnow-overlay-div
    {
      all:initial;
      position: absolute;
      z-index: 2;
      left:0;
      top:0;
      
     

    }
    
   

    .shopnow-title
  {
    all:initial;
   
    font-family: 'montserrat-Regular';
  
    margin-left:15px;
    padding-top:5px;
   
    
    
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
   

  }

  .shopnow-separator
  {
   
    margin-left:15px;
    margin-top:7px;
    background-color:#3391a1;

    width:75%;
   
  }

  
  .shopnow-text
    {
     
      display: none;
     
    }


  .shopnow-btn
  {
    display: none;
   
  }
  



    

  }